/*boton ir arriba*/

div.ir-arriba{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 42px;
    height: 42px;
    background-color:$color-background-flecha;
    border: none;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}

/* botones formulario */

.containerForm button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: $color-background-button-primary;
    color: $color-text-button-primary;
    cursor: pointer;
    box-shadow: $color-boxshadow 2px 2px 2px 2px;
}

.containerForm button:hover {
    background-color: $color-background-button-secondary;
    color: $color-text-button-secondary;
}