.infoTurnos-padre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .texto-info{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        border: $border-color-primary;
        width: 50%;
        margin-top: 30px;
        padding: 20px;
        font-size: 22px;
        h1{
            margin-bottom: 20px;
            font-size: 26px;
            text-decoration: underline;
            border-bottom: $border-color-primary;
        }
    }
    .container-turno {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 200px; 
        align-items: flex-end; 
        max-width: fit-content; 
        margin-left: auto; 
        margin-right: 10px; 
        p{
            margin-bottom: 0;
        }
    }
    .horarios{
        border: $border-color-primary;
        border-style: groove;
        border-radius: 6px;
        padding: 10px;
        background-color: $background-color-secondary;
        box-shadow: $color-boxshadow 2px 2px 3px;
        h2{
            margin-bottom: 10px;
            text-decoration-line: underline;
        }
        ul{
            list-style: none;
            padding: 0;
            margin-bottom: 0;
        }
    }
    .contacto{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-right: 188px;
    }
}

/*diseño responsive exclusivo mobile/tablet hata 992px*/
@media (max-width: 992px){
.infoTurnos-padre{
    flex-direction: column;
        & .texto-info {
        font-size: 18px;
        padding: 0;
    }
    & .container-turno{
        margin: 0;
        align-items: center;
        & .contacto{
            margin: 0;
        }
        & .horarios{
            margin: 0 10px;
        }
    }
    }
}

/*diseño responsive exclusivo mobile/tablet hata 576px*/
@media (max-width: 576px) {
    .infoTurnos-padre .texto-info{
        & p{
            display: none;
        }
    }
}
