h1,h2,h3,h4,h5,h6{
    font-family: Exo2, sans-serif;
    color: $color-text;
}

p, span, a, li, ul, button, input{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
