header{
    padding: 20px;
    height: 100%;
    background: $background-color-primary;
    background-size: 400% 400%;
    animation: gradient 12s ease-in infinite;
    border-style: inset;
    border-color: rgb(185, 255, 251)
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
} 

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    .logo{
        display: inline;
            h2{
            display: inline;
            position: absolute;
        }
    }
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        li {
            margin-right: 20px;
                a:hover{
                color:rgb(185, 255, 251)
            }
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: $color-text;
            }
        }
        
    }
}

/* Estilos para dispositivos hasta 1023px de ancho */
@media (max-width: 1023px) {
    .menu {
        height: auto;
        flex-direction: row;
        text-align: center;
        gap: 10px;
        li {
            margin: 10px 0;
        }
    }
    .navegador {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*diseño responsive exclusivo mobile hata 576px*/
@media (max-width: 576px){
    header.navegador {
        font-size: 14px;
        align-content: center;
            .logo{
            h2{
                position: none;
            }
            h3{
                display: none;
            }
        }
    }
    .menu {
        font-size: 15px;;
    }
}
